# Required
password = "windows_server_password"
# Optional
# access_key = "your_access_key"
# access_key_secret = "your_access_key_secret"
# region = "" # Region you'd like to deploy in (defaults to Singapore)
# cidr_block = "" # CIDR block you'd like to use (defaults to 192.168.0.0/16)
